.header {
  margin-top: 0;
    /* position: fixed; */
    width: 100%;
    height:100px; 
    /* left: 0; */
    /* z-index: 2; */
     display: flex;
     background-color: #bdbfbd;
    color: aliceblue;
    align-items: center;
  }
  
  .navlinks {
    display: flex;
    margin-right: 30px ;
    gap: 40px;
  }
  .navlinks a {
    color: aliceblue;
    font-size: 20px;
  }
 
  .button{
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .logo {
    margin-left: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .header h1 { 
    flex: 1;
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 2px;
    color: aliceblue;
  }