
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eee9e9;
  color: rgb(20, 19, 20);
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navlinks a {
  color: #ff5555;
  text-decoration: none;
  margin-right: 20px;

}
.navlinks a:hover {
  color: #f0b4a6;
}

.right {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 10px;

}
.order {
  margin-right: 4em; 
  margin-left: 7em;
  color: #ff5555;
  text-decoration: none;

}

.cart {
  margin-right: 4em;
  margin-left: 4em;
  color: #ff5555;
  text-decoration: none;


}
.right a:hover{
  color: #f0b4a6;

}
.right .welcome {
  margin-right: 10px;

}
.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-left: 7em;

}

.right .logout button {
  background-color: #ff5555;
  color: white;
  border: none;
  cursor: pointer;
}

.right .logout button:hover {
  background-color: #ff3333;
}


.right .btn {
  background-color: #f0b4a6;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.right .btn:hover {
  background-color:#ff3333;
}
