.footer {
    background-image: url();
    align-items: center;
    height: 50px;
    width: 100%;
    text-align: center;
    color: #405244;
    letter-spacing: 2px;
    border-top: 1px solid ;
    
}
.logo {
    height: 100px;
    width: 100px;
    align-items: center;
    margin-right: 30%;
}
.social{
    justify-content: space-between;
    padding: 25px;
}
.social img {
    padding: 10px;
    height: 40px;
    width: 40px;
    margin: 1em;

}