

  
  .slider-wrapper {
    position :relative;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    width: 100%;
    animation: change 15s infinite ease-in-out;
  }

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    right: 50%;
    
  }
  
  .slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color:#405244;
    opacity: 0.75;
    transition: opacity ease 250ms;
  
  }
  .b{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  

  @keyframes change{
    0%
    {
        background-image: url(https://risebyrare.com/cdn/shop/files/Slider__1.png);
        margin-top: 0;
        background-size: cover;
    }
    40%
    {
        background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTExL2hpcHBvdW5pY29ybl9jb3NtZXRpY19tYWtlX3VwX2ZsYXRfbGF5X3BpbmtfYmFja2dyb3VuZF9iODQxY2U1MC1mNDRhLTQ4ODAtODEwMC1hMDc5Yjc4MjA3NDUuanBn.jpg);
        background-size: cover;

    }
    40%
    {
        background-image: url(https://cdn.shopify.com/s/files/1/0410/9608/5665/t/3/assets/pf-715119ea--blog-creative-1.jpg);
        background-size: cover;


    }
    60%
    {
        background-image: url(https://risebyrare.com/cdn/shop/files/Slider__1.png);
        background-size: cover;


    }
    80%
    {
        background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTExL2hpcHBvdW5pY29ybl9jb3NtZXRpY19tYWtlX3VwX2ZsYXRfbGF5X3BpbmtfYmFja2dyb3VuZF9iODQxY2U1MC1mNDRhLTQ4ODAtODEwMC1hMDc5Yjc4MjA3NDUuanBn.jpg);
        background-size: cover;


    }
    100%
    {
        background-image: url(https://cdn.shopify.com/s/files/1/0410/9608/5665/t/3/assets/pf-715119ea--blog-creative-1.jpg);
        background-size: cover;


    }
}
  
.text {
    color: #405244;
    position: absolute;
    width: 30%;
    top: 8%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    margin-top: 200px;
  }
  
  h3 {
    font-size: 30px;
    color: #2d362f;
  }
  h5{
    font-size: 20px;

  }
  .indent{
    text-indent: 20px;
    margin: 0;
}
  /* .button {
    background-color: #edf4ed;
    border: 2px #405244;
    border-radius: 30%;
    color: #405244;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
    display:inline-block;
  } */