img {
    height: 15vw;
    width: 15vw;
    font-size: 4vw;
    background-color: var(--tan-1);
    border: 0.1vmin solid var(--tan-3);
    border-radius: 1vmin;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    align-items: center;
  
  }

  .pplr{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin: 1em;
  }
  p{
    padding: 25px;
    background-color: azure;
    border: 2px solid #e28975;

  }

.btn-sm{
    border: 2px solid #e28975;
}